button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.button {
	block-size: 40px;
	padding-left: 10px;
	color: var(--main-bg-color);
	background-color: var(--accent-color);
	border: none;
	border-radius: 10px;
}

.button[disabled] {
	cursor: not-allowed;
	opacity: 0.6;
}
