.header {
	display: flex;
	grid-area: header;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
	background-color: var(--main-bg-color);
	border-radius: 20px;
}

.header_profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
}

.header_profile-photo {
	inline-size: 100px;
	block-size: 100px;
	background-image: url('../../images/userPlaceholder.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 100px;
}

.header_profile-description {
	font-weight: 300;
	font-size: 12px;
}

.header_logout {
	inline-size: 100%;
	block-size: 40px;
	font-size: 12px;
	background-color: var(--secondary-bg);
	border-radius: 10px;
}

@media (width <= 900px) {
	.header {
		flex-direction: row;
		align-items: flex-end;
	}
}
