.form {
	position: relative;
	display: flex;
	block-size: 100%;
}

.input {
	inline-size: 100%;
	block-size: 100%;
	padding-left: 10px;
	font-size: 12px;
	background-color: var(--secondary-bg);
	border: none;
	border-radius: 10px;
}

.form_button {
	position: absolute;
	right: 20px;
	block-size: 100%;
	background-image: url('../../images/sendIcon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

input:focus {
	outline: 1px solid var(--accent-color);
}

.input:disabled {
	background-color: #ffffff;
	cursor: not-allowed;
}
